.card-content.overflow-auto {
  overflow: auto;
  max-height: 60vh;
}

.list-wrapper .card:not(:last-child) {
  margin-bottom: 1rem;
}

form.form.is-fullwidth {
  width: 100%;
}


.todo-content {
  word-wrap: break-word;
  white-space: pre-wrap;
}
